$md-font-url: "../assets/font/";
 @import "../assets/font/font";
// @import "node_modules/ng2-material/source/core";
// $md-primary: md-palette($md-brown, 500, 100, 700, $md-contrast-palettes);
// $md-accent: md-palette($md-deep-orange, 500, 300, 700, $md-contrast-palettes);
// @import "node_modules/ng2-material/source/components";

html, body{
  height: 100%;
  background: #0000FA;
}
button.active{
  background: #fff;
  color: #009688;
}
button.active:hover{
  color: #fff;
}
.fill{
  flex: 1 1 auto;
}
.app-state{
  margin: 15px;
  flex: 1;
}
.home{
  flex: 1;
}
md-content{
  display: flex;
  flex-direction: column;
  height: 100%;
}
footer{
  flex: 0 0 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
